html {
    height: 100%;
    background: linear-gradient(#bdebff, #168cd2);
    font-family: "Gill Sans", sans-serif;
}

.main-title {
    margin: 30px, 10%, 30px;
}

.text-secondary {
    color: #006eff !important;
}

.text-muted {
    color: #3b4248!important;
}

.a {
    color: inherit;
}

.text-center {
    text-align: center!important;
}

.main-title-spacer {
    width: 60px;
    height: 2px;
    margin: 20px auto 50px auto;
}

.bg-primary {
    background-color: #006eff !important;
}
