include LICENSE
include README.rst

recursive-include guardata/client/resources *.ico
recursive-include guardata/client/gui/forms *.ui
recursive-include guardata/client/gui/tr *.po *.ts
recursive-include guardata/client/gui/rc *.css *.html *.mo *.otf *.png *.qrc *.svg *.ttf
