include LICENSE
include README.rst

recursive-exclude guardata/backend *
recursive-include guardata/core/resources *.ico
recursive-include guardata/core/gui/forms *.ui
recursive-include guardata/core/gui/tr *.po *.ts
recursive-include guardata/core/gui/rc *.css *.html *.mo *.otf *.png *.qrc *.svg *.ttf
