html {
    height: 100%;
    background: linear-gradient(#bdebff, #168cd2);
    font-family: "Gill Sans", sans-serif;
}

.main-title {
    margin: 30px, 10%, 30px;
}

.text-secondary {
    color: #006eff !important;
}

.text-muted {
    color: #3b4248!important;
}

.a {
    color: inherit;
}

.text-center {
    text-align: center!important;
}

.main-title-spacer {
    width: 60px;
    height: 2px;
    margin: 20px auto 50px auto;
}

.bg-primary {
    background-color: #006eff !important;
}

.openbtn {
    background:    #00a5e2;
    background:    linear-gradient(#00a5e2, #168cd2);
    border-radius: 3px;
    box-shadow:    1px 1px #999999;
    padding:       20px 40px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal normal 18px/1 "Open Sans", sans-serif;
    text-align:    center;
}

.parsecLink {
    margin-bottom: 16px;
    font: normal normal 12px/1 "Courier New", Courier, monospace;
    border-width: 1px;
    border-color: #4CAF50;
    border-radius: 3px;
    padding: 20px;
}
