{% extends "base.html" %}
{% block body %}
<div class="main-title" style="text-align: center">
    <p class="font-weight-bolder text-center">
        {{ trytxt }}
        <div><button onclick="window.location.href='{{ parsecurl }}';" class="openbtn">
            {{ openg }}
        </button></div>
    </p>
    <p class="text-muted text-center">
        {{ urlcopy }}
    </p>
    <div class="parsecLink">{{ parsecurl }}</div>
    <div class="main-title-spacer bg-primary"></div>
</div>
{% endblock %}
