{% extends "base.html" %}
{% block body %}
<div class="main-title" style="text-align: center">
    <p class="text-secondary font-weight-bolder text-center">
        Try to open directly in the guardata client with this button
        <button onclick="window.location.href='{{ parsecurl }}';" class="openbtn">
            Open in guardata
        </button>
    </p>
    <p class="text-muted text-center">
        or copy and paste the following link in the first login (join an existing group)
        <div class="parsecLink">
            {{ parsecurl }}
        </div>
    </p>
    <div class="main-title-spacer bg-primary"></div>
</div>
{% endblock %}
